<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73A56671CCC5CDA00D20398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73A567B1CCC5CDA00D20398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73A56861CCC5CDA00D20398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
